@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* Enable both themes */
@plugin "daisyui" {
    themes: light, dark;
}

/* Optional: custom light theme */
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #FFCE1A;
    --color-secondary: #0D0842;
}

/* Optional: custom dark theme */
@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #FFCE1A;
    --color-secondary: #1e293b;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
